.git
.gitignore
.github/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum
.idea/
.vscode/
/logs
*.log
/register/generate/status_codes_generated.go
Dockerfile
README.md
